.main-container {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}

.posts-wrapper {
  width: 32rem;
  height: 40rem;
  margin: 2rem 0 0 1rem;
  border-radius: 3px;
  overflow-y: scroll;
}

.send-wrapper {
  justify-items: center;
  padding: 2rem 0 0 1rem;
}



