<div class="view-post-wrapper">
  <h2 class="vp-title"><i>{{post.title}}</i></h2>
  <p class="vp-by">by: {{post.postedBy}}</p>
  <p class="vp-date">{{post.date | date: 'medium'}}</p>
  <p class="vp-body">{{post.body}}</p>
  <div *ngIf="addPost" class="add-post-wrapper">
    <input type="text" class="inset main-input" placeholder="Name" [(ngModel)]="name">
    <textarea class="inset text-input" name="comment" placeholder="Add your sick burn here" id="comment"  rows="5" [(ngModel)]="commentText"></textarea>
    <button class="send-btn" (click)="$event.stopPropagation(); addComment()">Comment</button>
  </div>
  <div *ngIf="comments" class="comments-wrapper">
    <div *ngFor="let comment of comments" class="comment">
      <app-comment [comment]="comment"></app-comment>
    </div>
  </div>
  <button *ngIf="!addPost" mat-mini-fab class="add-fab" (click)="addPost = true"><mat-icon>comment</mat-icon></button>
</div>
